shocks_capturing/MonitorDelta_100000_data_sharp/final_meshes.txt
shocks_capturing/MonitorDelta_100000_data_sharp/omegas.txt
shocks_capturing/MonitorDelta_100000_data_sharp/deltas.txt
shocks_capturing/MonitorDelta_100000_data_sharp/shocks.txt
